body
{
 background-size: cover;
}

#heading{
    width: 100%;
    text-align: left;
    font-size: 20px;
}

#instructions{
    float: right;
}

#play{
    width: 75px;
}

#footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    color: black;
    background-color: yellowgreen;
    text-align: center;
}

canvas{
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    border: 3px solid green;
}